#es2_input {
    width: 230px;
}
h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
}
.first-half, .second-half {
    color: black;
    font-size: 5rem;
}

#first_section {
    background:linear-gradient(45deg,dodgerblue, rgb(226,16,191)); 
    height: 500px;
}
#second_section {
    height: 600px;
}
button#es1_btn, button#es2_button{
    background-color: rgb(226, 16, 191);
    color: white;
    transition: all 0.4s;
} 
button#es1_btn:hover, button#es2_button:hover {
    transform: scale(1.1);
}
.pink_txt {
    color: rgb(226, 16, 191);
}
.black_txt {
    color: black;
}
.blue_txt {
    color: dodgerblue;
}
.gradient_txt {
    background-color: dodgerblue;
    background-image: linear-gradient(45deg,dodgerblue, rgb(226,16,191));
    background-size: 230px;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}